<% layout('layout/page') %>
<div class="chat">
		<ul class="chat__list"></ul>
		<form class="chat__form">
			<input type="text" class="chat__form-input" autocomplete="off">
		</form>
	</div>	
<script src="/socket.io/socket.io.js"></script>
<script src="http://localhost:3000/js/chat.js"></script>